:root {
    --negro: #222;
    --blanco: #fff;
    --gris: #888;
    --gris-claro: #ccc;
    --titulos: 'Source Sans Pro', sans-serif;
    --parrafos-links: 'Open Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--negro);
}

code {
    background-color: #444;
}

.html-title h2,
.css-title h2 {
    text-align: center;
    font-size: 5rem;
    color: var(--blanco);
    font-family: var(--titulos);
    padding: 10rem 0 5rem;
}

.html-title {
    background: #0070b6;
}

.css-title {
    background-color: #dd008c;
}

.history {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

.history h2 {
    font-size: 4rem;
    font-family: var(--titulos);
    margin-top: 10rem;
}

.history h3 {
    font-size: 3rem;
    font-family: var(--titulos);
    padding: 12rem 0 5rem;
}

.history p {
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--parrafos-links);
    width: clamp(70%, 800px, 95%);
    line-height: 2;
    letter-spacing: 1.1;
}

.history a {
    color: var(--blanco);
}

.history div {
    display: flex;
    width: 70%;
}

.history img {
    width: clamp(50%, 450px, 95%);
    margin-left: 30px;
    border: 4px solid #0070b6;
    object-fit: cover;
    object-position: right;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding-bottom: 15rem;
}

.contents-title {
    color: var(--blanco);
    font-size: 4rem;
    font-family: var(--titulos);
    margin: 10rem 0 7rem;
}

.topic {
    width: clamp(60%, 1000px, 95%);
    margin: 2rem 0;
    background-color: var(--negro);
    padding: 0 2.5rem;
    padding-top: 0;
    border-bottom: 5px solid var(--gris);
    border-radius: 10px;
    color: var(--blanco);
}

.topic-content {
    height: 0;
    overflow: hidden;
    transition: height 1.5s;
}

.topic-title {
    font-size: 3.5rem;
    font-family: var(--titulos);
    text-align: center;
    padding: 3rem;
    cursor: pointer;
}

.topic-subtitle {
    font-size: 3rem;
    font-family: var(--titulos);
    padding: 3rem 0 2rem;
}

.topic p, .topic li {
    font-size: 1.6rem;
    font-family: var(--parrafos-links);
    margin-bottom: 25px;
    line-height: 1.5;
}

.topic ul, .topic ol {
    margin-left: 40px;
}

.code-title {
    font-family: var(--titulos);
    text-align: left;
    font-size: 2.5rem;
    padding: 5rem 1rem 3rem;
}

#selectors .code-title,
#specificity .code-title {
    padding: 1rem 0;
}

.code-section {
    width: 100%;
    display: grid;
    grid-template-rows: 70px minmax(200px, auto);
    grid-template-columns: 50% 45%;
    column-gap: 5%;
    row-gap: 5%;
}

#selectors .code-section,
#specificity .code-section {
    margin-bottom: 3rem;
}

.buttons {
    align-self: center;
    grid-column: 1/3;
}

.button {
    text-decoration: none;
    font-family: var(--parrafos-links);
    color: #fff;
    background-color: #04b5b8;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
}

.button:hover {
    background-color: #01a1a3;
}

.code {
    font-family: monospace;
    font-size: 1.6rem;
    color: var(--negro);
    background-color: var(--blanco);
    padding: 5px;
    overflow-y: scroll;
    border: 3px solid #bbb;
}

.result {
    border: 3px solid #bbb;
    font-size: 2rem;
    background-color: var(--blanco);
    color: var(--negro);
    overflow-y: scroll;
}

.result h1,
.result h2,
.result h3,
.result h4,
.result h5,
.result h6,
.result p {
    margin: 0.67rem 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
}

.result a {
    font-size: 1.6rem;
}

.result header {
    position: static;
    background: var(--blanco);
    display: block;
    height: auto;
}

.result h1 {
    font-size: 2em;
}

.result img {
    width: 100%;
}

.tag, .selector {
    color: brown;
}

.attr {
    color: red;
}

.value {
    color: blue;
}

.finish {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

.finish h2 {
    font-size: 4rem;
    font-family: var(--titulos);
    margin: 10rem 0;
}

.finish p {
    font-size: 1.8rem;
    font-family: var(--parrafos-links);
    line-height: 2;
    letter-spacing: 1.1;
    width: 70%;
    margin-bottom: 5rem;
}

.finish a {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--parrafos-links);
    color: var(--blanco);
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #dd008c;
}

.finish a:hover {
    background-color: #9d0063;
}

@media screen and (max-width: 1400px) {
    .history div {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .history img {
        margin: 4rem 0 0;
    }
}

@media screen and (max-width: 800px) {

    .code-section {
        width: auto;
        grid-template-rows: 70px minmax(100px, auto) minmax(120px, auto);
        grid-template-columns: 100%;
        justify-content: center;
        column-gap: 0;
    }

    .result {
        margin-top: 20px;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 55%;
    }
}