:root {
    --negro: #222;
    --blanco: #fff;
    --gris: #888;
    --gris-claro: #ccc;
    --titulos: 'Source Sans Pro', sans-serif;
    --parrafos-links: 'Open Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--negro);
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    padding: 10px 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    font-size: 3.2rem;
    color: var(--blanco);
    font-family: monospace;
    border-radius: 30px 0 30px 0;
    animation: fade-up 2s;
    text-align: center;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner a {
    font-size: 5rem;
    color: var(--blanco);
    position: absolute;
    bottom: 70px;
    animation: go-up-down 1s alternate infinite;
    z-index: 500;
}

@keyframes go-up-down {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

.banner .waves {
    position: absolute;
    bottom: 0;
}

.about-us, .about-course {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
}

.about-us h2, .about-course h2 {
    padding: 10rem 0;
    font-size: 4rem;
    font-family: var(--titulos);
    text-align: center;
}

.about-us p, .about-course p {
    font-family: var(--parrafos-links);
    font-size: 2rem;
    width: 70%;
    text-align: center;
    line-height: 2;
    letter-spacing: 1.1;
}

.courses {
    width: 100%;
    margin-bottom: 10rem;
}

.courses h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--blanco);
    font-family: var(--titulos);
    padding: 5rem;
}

.course {
    width: 100%;
    color: var(--blanco);
    padding: 20px;
    display: grid;
    grid-template-rows: 10rem 17rem 5rem;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.course h3 {
    font-family: var(--titulos);
    font-size: 6rem;
}

.course h3 img {
    height: 5rem;
}

.course p {
    font-family: var(--parrafos-links);
    font-size: 1.7rem;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 60%;
    line-height: 2;
    letter-spacing: 1.1;
    text-align: justify;
}

.course a {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--parrafos-links);
    color: var(--blanco);
    padding: 10px 20px;
    border-radius: 25px;
    grid-column: 1/2;
    grid-row: 3/4;
}

.html-course a {
    background-color: #0070b6;
}

.css-course a {
    background-color: #9d0063;
}

.html-course {
    background-color: #009dff;
}

.css-course {
    background-color: #dd008c;
}

.code {
    grid-row: 1/4;
    grid-column: 2/3;
    font-family: monospace;
    font-size: 1.6rem;
    color: var(--gris-claro);
    background-color: var(--negro);
    padding: 5px;
    width: 60%;
}

.html-course .code {
    border: 4px solid #0070b6;
}

.css-course .code {
    border: 4px solid #9d0063;
}

.tag {
    color: #dd008c;
}

.selector {
    color: #dd008c;
}

.value {
    color: #49ff5e;
}



@media screen and (max-width: 900px){
    
    .course {
        grid-template-rows: 10rem 20rem 35rem 5rem;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
    }

    .course p {
        width: 100%;
    }

    .code {
        width: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .course a {
        grid-row: 4/5;
    }

}