:root {
    --negro: #222;
    --blanco: #fff;
    --gris: #888;
    --gris-claro: #ccc;
    --titulos: 'Source Sans Pro', sans-serif;
    --parrafos-links: 'Open Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background: linear-gradient(to bottom, #000, transparent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.h1-link {
    text-decoration: none;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: var(--blanco);
    font-family: var(--titulos);
}

#menu-button {
    display: none;
}

.nav {
    width: 45%;
}

.nav__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__link {
    color: var(--blanco);
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--parrafos-links);
    transition: border, .2s;
}

.nav__link:hover {
    border-bottom: 3px solid var(--blanco);
}

.nav__submenu {
    list-style: none;
    width: 20rem;
    padding: 1.5rem 0;
    opacity: 0;
    visibility: hidden;

    position: absolute;
    
    transition: opacity, visibility, 0.5s;
}

.nav__submenu li {
    padding: 10px 0;
}

.submenu-container:hover > .nav__submenu {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1024px) {

    :root {
        font-size: 55%;
    }

    .nav {
        background-color: var(--negro);
        position: absolute;
        transform: translateY(-200px);
        width: 100%;
        height: 300px;
        transition: transform .7s;
        
    }

    .nav__bar {
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .nav--show {
        transform: translateY(200px);
    }

    .nav__link {
        display: block;
        padding: 20px 0;
    }

    .nav__link:hover {
        border: none;
    }

    .nav__submenu {
        visibility: visible;
        padding: 0;
        opacity: 1;
        height: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
        background-color: var(--gris);
    }

    .nav__submenu li {
        padding: 0;
    }

    #menu-button {
        display: inline-block;
        color: var(--blanco);
        font-size: 4rem;
        cursor: pointer;
        padding: 2rem;
    }
}